/* Authentication "notification message" CSS */
.authMessageContainer {
    color: #0b4681;
    padding: 10px;
    display: block;
    cursor: default;
    font-size: 12px;
    background-color: #e9eaee;
    width: 50%;
}
.loginMessage {
    font-size: 14px;
}
.loginLink {
    color: #3b5ead;
    font-weight: bolder;
    cursor: pointer;
}

/* Authentication "modal" CSS */
.authCredentialsOverlay {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 102;
    overflow: auto;
    display: block;
    position: fixed;
    color: #222428;
    pointer-events: auto;
    background-color: rgba(33,37,51,0.8);
}
.authCredentialsContainer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 104;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
}
.authCredentialsAnimation {
    width: auto;
    z-index: 105;
    display: flex;
    overflow: hidden;
    margin: 3px auto;
    position: relative;
    align-items: center;
    pointer-events: none;
    transform: translate(0);
    min-height: calc(100vh);
}
.authCredentialsDialog {
    width: 100%;
    z-index: 105;
    display: flex;
    overflow: scroll;
    position: relative;
    border-radius: 3px;
    color: #222428;
    pointer-events: auto;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    -webkit-overflow-scrolling: touch;
    transition: transform .3s ease-out;
    will-change: transform;
    background-color: #eaecef;
}
.authCredentialsHeader {
    height: 30px;
    display: flex;
    color: #074785;
    font-size: 18pt;
    align-items: center;
    flex-direction: row;
    padding: 30px 30px 0 30px;
    -webkit-overflow-scrolling: touch;
}
.authCredentialsHeaderClose {
    color: #929192;
    cursor: pointer;
    font-size: 18pt;
    margin-left: auto;
    -webkit-overflow-scrolling: touch;
}
.authCredentialsContent {
    font-size: 14pt;
    min-height: 80px;
    padding: 30px;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authError {
    margin-bottom: 20px;
    color: red;
}

/* Authentication "Submit" button CSS */
.authSubmitContainer {
    display: block;
    margin: 10px 50px 0 0;
    text-align: right;
}
.authClearButton {
    border: 0;
    width: 100px;
    height: 35px;
    color: #fff;
    cursor: pointer;
    margin: 0 30px 0 0;
    border-radius: 30px;
    text-decoration: none;
    background-color: #6591be;
    box-shadow: 0 2px 8px 0 rgb(223, 226, 229),
        0 2px 10px 0 rgb(225, 226, 229);
}
.authClearButton:focus {
  outline: 0;
}
.authSubmitButton {
    border: 0;
    width: 120px;
    height: 45px;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    background-color: #064785;
    box-shadow: 0 2px 8px 0 rgb(223, 226, 229),
        0 2px 10px 0 rgb(225, 226, 229);
}
.authSubmitButton:focus {
  outline: 0;
}

/* Authentication "input" animation CSS */
.label {
    top: 16px;
    left: 16px;
    color: #074785;
    font-size: 12pt;
    transition: .3s;
    padding: 0 4px;
    position: absolute;
    background-color: #eaecef;
}
.input {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 16px;
    font-size: 12pt;
    background: none;
    position: absolute;
    border-radius: 25px;
    border: 1px solid #cbd1d9;
}
.input:focus + .label{
    top: -8px;
    left: 12px;
    z-index: 10;
    color: #074785;
    font-size: 10pt;
    font-weight: 500;
}
.input:not(:placeholder-shown).input:not(:focus)+ .label{
    top: -8px;
    left: 12px;
    z-index: 10;
    color: #074785;
    font-size: 10pt;
    font-weight: 500;
}
.input:focus{
    border: 1px solid #074785;
}

/* Authentication "hide" password CSS */
.eye-open {
    right: 0;
    top: 15px;
    z-index: 11;
    content: 'Hide';
    cursor: pointer;
    font-size: 14pt;
    position: absolute;
    margin-left: -20px;
}
.eye-open:after {
    content: 'Hide';
}
.eye-close {
    right: 0;
    top: 15px;
    z-index: 11;
    content: 'Show';
    cursor: pointer;
    font-size: 14pt;
    position: absolute;
    margin-left: -20px;
}
.eye-close:after {
    content: 'Show';
}
