.checkmark {
    font-size: 18px;
    padding-right: 10px;
    color: #43a243;
    font-family: Segoe UI Symbol, serif;
}
.warning {
    font-size: 20px;
    padding-right: 10px;
    color: #FF8C00;
    font-family: Segoe UI Symbol, serif;
}
.error {
    font-size: 18px;
    padding-right: 10px;
    color: red;
}
.tooltip {
    cursor: default;
    position: relative;
}
.tooltip .tooltiptext {
    color: #fff;
    width: 120px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    background-color: black;
}
.tooltip:hover .tooltiptext {
    padding: 5px 0;
    visibility: visible;
    font-size: 10pt;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.start_task {
    min-height: 30px;
}
.task-finished {
    padding-left: 20px;
    font-size: 14pt;
}
.convert-bids-row {
    padding-top: 0;
    margin-top: 10px;
}
