html {
    height: 100%;
    -webkit-app-region: drag;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 130, 110);
}

body {
    margin: 0;
    -webkit-app-region: drag;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', sans-serif;
}

.header {
    padding: 20px;
    cursor: default;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.info {
    padding: 14px;
    background-color: #039b83;
}
.small-pad {
    padding: 10px;
}
