.eye-open {
    content: '🐵';
    cursor: pointer;
    margin-left: -20px;
    font-size: 10pt;
}
.eye-open:after {
    content: '🐵';
}
.eye-close {
    content: '🙈';
    cursor: pointer;
    margin-left: -20px;
    font-size: 10pt;
}
.eye-close:after {
    content: '🙈';
}
