.red {
    color: #ff0000;
}
.green {
    color: #02a902;
}
.key-terminal {
    margin: 20px;
    padding: 10px;
    color: #252326;
    text-align: center;
    background-color: #f4f4f4;
}
.terminal {
    color: white;
    margin: 20px;
    overflow: auto;
    max-height: 600px;
    background-color: #252326;
}

.bids-errors {
    font-size: 12pt;
}
.bids-loading .bids-success {
    font-size: 14pt;
}

.progress-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: lightgray;
    border-radius: 0.25rem;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width .6s ease;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    -webkit-animation: progress-bar 2s linear infinite;
    animation: progress-bar 2s linear infinite;
}

@keyframes progress-bar {
    0% {
		background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}

.pull-right{
    text-align: end;
}
.bytes {
    font-size: 11px;;
}