.red-font-bold {
    color: #ff0000;
    font-weight: bold;
}
.green-font-italic {
    color: #02a902;
    font-weight: bold;
    font-style: italic;
}
.key-terminal {
    margin: 20px;
    padding: 10px;
    color: #252326;
    text-align: center;
    background-color: #f4f4f4;
}
.terminal {
    margin: 20px;
    overflow: auto;
    max-height: 600px;
    background-color: #252326;
}
